<div class="search_field">
  <%= form_tag(search_path, method: :get) do |f| %>
  <div class="form-group">
    <%= text_field_tag :search %>
  </div>
  <div class="submit">
    <%= submit_tag '検索' %>
  </div>
  <% end %>
</div>