<div class="row">
  <div id="about">
    <div id="about_title">
      <h2><span id="about_color">カタカナエイゴ</span>について</h2>
    </div>
    <div id="about_body">
      <p>
        リスケ、バッファ、コミット、デプロイなど…ビジネス用語やプログラミング用語には、<br>
        たくさんの「カタカナ英語」が使用されています。<br>
        <br>
        会議の資料や教材、日常会話でサラッと出てくるけど、これそもそもどういう意味？ <br>
        そんなちょっとした疑問を検索できるサイトがカタカナエイゴです。<br>
        改めて人に聞くのは少し恥ずかしい言葉でもこっそり検索できちゃいます。<br>
        <br>
        ログインしなくても検索は可能ですので、会員登録は任意です。<br>
        <br>
        もしあなたがまだ登録されていない言葉に気づいたら、<br>
        ぜひとも会員登録をして知識を共有してください。<br>
        <br>
        企業によってよく使われる言葉であったり、ローカルな造語も大歓迎です。<br>
        あなたの投稿がきっとあとに続く誰かの役に立ちます。<br>
        <br>
        意味が間違っていたり、別の業界では違う使われ方をする言葉に気づいた時は、 <br>
        投稿へのコメント、もしくはページ下部のお問い合わせからお知らせください。<br>
      </p>

      <div class="new_user_registration_link">
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
    </div>
  </div>
</div>