<div class="row">
  <!-- タグ一覧 -->
  <div class="col-md-3">
    <h2>タグ一覧</h2>
  </div>

  <!-- 投稿一覧（作成日降順） -->
  <div class="col-md-9">
    <h2>投稿一覧</h2>
    <div class="row">
      <%= render partial: 'words/shared/index', collection: @words, as: 'words' %>
    </div>
  </div>
</div>