/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//共通フォント
html, body {
  color: #555555;
}

//リストの・を削除
li {
  list-style: none;
}

//アイコンを丸に設定
img {
  border-radius: 50%;
}

//ヘッダー
header {
  height: 100px;
}
.header_list {
  height: 70px;
  display: flex;
  align-items: center;
}
.header_list li:first-child {
  margin-right: auto;
}

a {
  color: #555555;
}

//各ページの見出し
h2 {
  text-align: center;
}

//サイドメニュー
.side_menu {
  background-color: #CCFFFF;
}

//フォームの表示形式
.form {
  width: 50%;
  margin: 0 auto;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-group .form-label {
  flex: 1;
}
.form-group .form-control {
  flex: 3;
}
textarea {
  resize: auto;
  max-width: 500px;
  max-height: 500px;
  min-width: 100px;
  min-height: 100px;
  width: 400px;
  // height: 1000px;
}

//戻るボタン
.back_btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;

}
