// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//投稿一覧
.wrap{
  // width: 90%;
  // max-width: 800px;
  margin: 0 auto;
}
.word_index .col-md-3 {
  padding: 0 5px;
}
.words_container {
  margin-bottom: 15px;
}
.words_box {
  background-color: #FFF;
  padding: 1rem;
  // height: 165px;
  // width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  // border-radius: 5px;
  // position: relative;
  a {
    text-decoration: none;
  }
}
div.words_box:active {
  -webkit-transform: translate(0,2px);
  -moz-transform: translate(0,2px);
  transform: translate(0,2px);
  box-shadow: none;
}

////投稿のタイトル部分
.words_name {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 2rem;
}
////投稿の説明文
.words_description {
  text-overflow: ellipsis;
  height: 70px;
}
////投稿のいいね・コメント数
.words_item {
  display: flex;
  align-items: center;
  li {
    font-size: 1rem;
    margin-right: 1rem;
    padding: 2px;
  }
  a {
    // font-size: 10px;
    text-decoration: none;
    color: #555555;
  }
}


//新規投稿
.btn_group {
  display: flex;
  justify-content: center;
  #btn_draft {
    border: 2px solid #16B7C1;
    // border-radius: 50px;
    height: 100%;
    color: #16B7C1;
    background: #FFF;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    margin-right: 50px;
  }
  #btn_draft:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #btn_public {
    border: 2px solid #16B7C1;
    // border-radius: 50px;
    height: 100%;
    width: 200px;
    color: #FFF;
    background: #16B7C1;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
  }
  #btn_public:hover {
    background-color: #129CA5;
    border: 2px solid #129CA5;
    color: #555555;
  }
}


//編集画面
.word_status {
  font-size: 1.5rem;
  padding: 0.5rem;
}


//投稿詳細
#word_title {
  display: flex;
  align-items: center;
  .btn_edit {
    color: #46D0B3;
    border: 2px solid #46D0B3;
    background: #FFF;
    padding: 2px 5px;
  }
  .btn_edit:hover {
    color: #FFF;
    border: 2px solid #46D0B3;
    background: #46D0B3;
    padding: 2px 5px;
  }
  .btn_destroy {
    color: #D04663;
    border: 2px solid #D04663;
    background: #FFF;
    padding: 2px 5px;
  }
  .btn_destroy:hover {
    color: #FFF;
    border: 2px solid #D04663;
    background: #D04663;
    padding: 2px 5px;
  }
}
#word_title li {
  margin-right: 10px;
}
.bold-title {
  font-weight: bold;
  font-size: 2.5rem;
}
.word_body {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  .word_space {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
  .new_comment {
    margin-top: 20px;
  }
}
.word_description, .user_info {
  padding-left: 30px;
}
//投稿タグ
.word_tag_list {
  ul {
    display: flex;
    margin-left: 30px;
  }
  li {
    margin-right: 10px;
    font-size: 1.2rem;
    padding: 1px 3px;
    background-color: #DDDDDD;
  }
  li:hover {
    background-color: #BDBDBD;
  }
}

//コメント欄
.comments_index {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  padding: 10px 30px;
  border-top: rgb(221, 221, 221);
  .comment_user_right {
    margin-left: 10px;
    .comment_user_status {
      display: flex;
    }
  }
}
//コメント編集画面
#comment_edit {
  .form-control {
    width: 100%;
  }
  .btn-success {
    width: 100%;
  }
}
